*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  margin-bottom: 80px;
  color: #333333;

}
nav{
  background-color: #E8782C;
  color: #FFFFFF;
  margin: 0;
  padding: 0% 3%;
}
h1{
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;

}
h2{
  font-size: 17px;
  font-weight: 550;
  display: inline-block;
  text-align: center;
  margin: 15px 0px 15px 60px;

}
.navbar p {
  float: left;
  text-decoration: none;
  display: inline-block;
  padding-top: 15px;


}

.navbar{
  margin-top: -3px;
}
ul{
  list-style: none;
}

ol, ul {
  border-bottom: 1px solid #EAEAEA;
}
section li {
  display: inline-block;
  border-bottom: 1px;
}
.route-number{
  font-weight: bold;
  font-size: 20px;
  width: 50px;
  margin-left: 15px;
  position: relative;
  top: 0;
}

.destination{
  font-size: 17px;
  padding: 9px 5px 9px 10px;
  width: 200px;
  line-height: 1.3;
}
.alert{
  color: #FF2D55;
  margin-top: 15px;
  padding-bottom: 0px;
  position: relative;
  top: 0;

}
.time{
  font-size: 14px;
  font-weight: 600;
  float: right;
  padding-right: 17px;
  width: 105px;
  position: relative;
  top:35px;
}
.a-time {
  font-size: 14px;
  font-weight: 600;
  float: right;
  padding-right: 17px;
  width: 105px;
  position: relative;
  top:3px;
}

.box2{
  background-color: #F8F8F8;
  padding: 15px;
    position: fixed;
    bottom:0%;
    width:100%;
    height: 55px;
    opacity: .95;
    text-align: justify;
    text-align: center;
}

.container {
  margin: 0;
  width: 19%;
  display: inline-block;
}

i{
  color: #A1A1A1;
  font-size: 25px;
  padding-left:5%;
  padding-right: 5%;
  text-align: center;
  display: inline-block;
}
.fa-chevron-right{
  float: right;
  display: inline-block;
  font-size: 16px;

}
img{
  background-color: #E8782C;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-bottom-color: #E8782C;
  border-bottom-width: thick;
}
.fa-chevron-left, .navbar p, h2 {
  color: #FFFFFF;
  display: inline-block;
  float: left;
}
.fa-chevron-left {
padding: 0;
margin-top: 10px;
margin-right: 3px;
float: left;
display: inline-block;

}
.fas ul, .far ul {
  text-align: justify;
  text-align: center;
  display: inline-block;


}
nav::after {
  content: '';
  display: table;
  clear: both;
}
